RewriteEngine On
RewriteBase /Mokymai/CodeAcademy/dvidesimtsesta_paskaita/
RewriteRule ^index\.php＄ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Mokymai/CodeAcademy/dvidesimtsesta_paskaita/index.php [L]